# ============ Redirecciones de URLs .php antiguas ============
Redirect 301 /metrologia.php https://indelsrl.com.ar/metrologia.html
Redirect 301 /mesasSoldadura.php https://indelsrl.com.ar/mesas-soldadura.html
Redirect 301 /tratamientoSuperficies.php https://indelsrl.com.ar/pintura-aspiracion.html
